:root {
  --font1: "Roboto";
  --text-color-1: black;
  --text-color-2: rgb(255, 217, 0);
  --text-color-3: rgb(185, 0, 0);
  --background-color-1: rgb(255, 217, 0);
  --background-color-2: white;
  --background-color-3: rgba(0, 0, 0, 0.1);
  font-family: var(--font1);
}

body {
  display: flex;
}

input:focus {
  outline: none;
}
