div.icon {
  display: none;
}

div.icon > span {
  background-color: var(--background-color-1);
  border-radius: 50%;
  padding: 0.7rem;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div.icon > span:hover {
  color: var(--text-color-base);
  transition: 0.5s;
  display: inline-block;
  animation: rotate360 2s linear infinite;
}

nav {
  border-right: 0.1px solid #d9d9d9;
  height: 100vh;
  width: 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

div.logo {
  display: flex;
  font-size: 1.5rem;
  margin: 1.75rem 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-weight: 600;
}

div.logo > span {
  border-radius: 50%;
  padding: 5px;
  color: var(--text-color-3);
  margin-right: 15px;
}

div.logo > .POS {
  color: var(--text-color-3);
}

ul:not(small) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: flex-start;
}

div.menu small {
  margin-top: 40px;
  margin-bottom: 20px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
}

li {
  display: flex;
  height: 3rem;
  width: 95%;
  padding: 10px;
  border-radius: 15px;
}

li:hover {
  transition: 0.5s;
  background-color: var(--background-color-1);
  cursor: pointer;
}
.material-symbols-outlined:not(#logo) {
  font-size: 25px;
}

#logo.material-symbols-outlined {
  font-size: 35px;
  background: var(--background-color-3);
}

ul > li > button.notification > a > p {
  background-color: var(--background-color-1);
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  border-radius: 50%;
  margin-left: 75px;
}

@media screen and (max-width: 782px) {
  nav {
    display: none;
  }
  div.icon {
    display: flex;
    align-items: flex-start;
  }
}
